body{
	margin: 0 auto; /*imp*/
	font-family: 'Heebo', sans-serif;
}


/***************NAVBAR*************/
.container{
	margin: 0px;
	font-size: 1em;
	background-color: white;
	display: grid;
	grid-template-columns: 8fr 1fr 1fr 1fr 1fr;
	grid-gap:10px ;
	align-items: center;
	text-align: center;
	padding: 10px 10px 10px 0px;
	opacity: 0.9;
	

}
.container:hover{
	transform: scale(1.02,1.02);
	border-bottom:  0.6px solid rgba(0,0,0,0.8);
}
.sticky{
	position: fixed;
	top: 0;
	width: 100%;

	border-bottom:  0.5px solid rgba(0,0,0,0.4);


}
li{
	list-style: none;
}

.push{
	margin-right: auto;
}
a{
	text-decoration: none;
	color: black;
	letter-spacing: 2px;
}
a:hover{
	background-color: white;
	color: red;
	text-decoration: none;
	font-size: 1.2em;
}



@media only screen and (max-width: 900px) {
    .container {
        font-size: 0.70em;
        grid-gap: 0px;
        /*width: 100%;*/
    }
    li {
    padding: 0px;
	}
	.logo-img{
		width: 280px;
		padding: 0px;
	}
	a{
		letter-spacing: 0.5px;
	}
	
}

/********** COVER PHOTO *******************/

.cover-pic{
	margin-top: 107px;
	/*display: ;
	align-items: center;
    justify-content: center;*/
}

@media only screen and (max-width: 900px) {
	.cover-pic{
		margin-top: 69px;
	}
}

/******************WRITER SECTION*************************/

.write{
	/*background-color: red;*/
	font-weight: bold;
	text-align: justify;
	align-items: center;
	margin: 200px 100px;
	line-height: 2em;
}
@media only screen and (max-width: 900px) {
	.write{
		margin: 150px 50px;
		font-size: 0.8em;
	}
}

/*
**************FOOTER******************************/

footer{
	text-align: center;
	background-color: #2B2D6E /*rgba(190,190,190,0.3)*/;
	padding: 100px 60px;
	color: white;
	opacity: 1;
	letter-spacing: 2px;
}

